version: "3.9"

services:
  mongodb:
    image: mongo:latest
    restart: unless-stopped
    env_file: .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGODB_USER
      - MONGO_INITDB_ROOT_PASSWORD=$MONGODB_PASSWORD
    ports:
      - "27017:27017"
    volumes:
      - node-mongo-data
    networks:
      private-net:

  mongo-express:
    image: mongo-express
    ports:
      - "8083:8081"

  auction:
    build:
      context: .
      target: auction
    volumes:
      - ./:/app
      - /app/node_modules
    env_file: .env
    ports:
      - "3000:3000"
    environment:
      - NODE_PORT=3000
      - DB_HOST=mongodb
      - DB_USER=$MONGODB_USER
      - DB_PASSWORD=$MONGODB_PASSWORD
      - DB_NAME=$MONGODB_DATABASE
      - DB_PORT=$MONGODB_DOCKER_PORT
    command: npm run start
    external_links:
      - mongodb
    depends_on:
      - mongodb
    restart: unless-stopped

    networks:
      private-net:

networks:
  private-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.254.0/28
